.title {
    font-size: 18px;
    margin-bottom: 2px;
}
.subtitle {
    font-size: 16px;
}

.axis,
.axis-show {
    font-size: 12px;
    color: #333;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .minor line {
    stroke: #efefef;
}

.axis-show text {
    display: none;
}

.bar:hover {
    fill: #fdbf11;
}

.axis-show path,
.axis-show line {
    fill: none;
    stroke-width: 1px;
    stroke: #000;
    shape-rendering: crispEdges;
}

.zeroline {
    stroke: #000;
    stroke-width: 1;
    fill: none;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 12px;
    fill: #333;
}

.abbrevs {
    font-family: Verdana;
    font-size: 10px;
    text-align: center;
}

.map-tooltip {
    padding: 4px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    border: 1px solid #aaa;
    pointer-events: none;
    font-size: 12px;
}

.footnote {
    font-size: 12px;
    padding-bottom: 2em;
}


.footnote a {
    text-decoration: none;
    color: #1696d2;
}

a.tag {
    font-size: 9px;
    float: right;
    font-weight: 900;
    letter-spacing: 1.5pt;
    text-align: right;
    bottom: 0px;
    text-decoration: none;
    color: inherit;
    padding-top: 1em;
}

#urban {
    color: #1696d2;
}